In [4]:
import pandas as pd
import numpy as np
from random import sample 
from scipy.sparse import issparse
from scipy.sparse import csr_matrix
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

In [4]:
# Need to first import the demolib file
from demolib import mapdata
from demolib import getRecommendations_UU
from demolib import getRecommendations_II
from demolib import sparsity
from demolib import predictRatings
from demolib import getitemsimsmatrix
from demolib import pearsonsim
from demolib import cosinesim
from demolib import euclidsim
from demolib import wtavg
from demolib import makeRatingsMatrix

In [5]:
file = "df_CA_Summarization_filtered.csv"
ratings_dfFull = pd.read_csv(file)

In [11]:
ratings_dfFull.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'gPlusUserId', 'closed', 'gps', 'name',
       'phone', 'price', 'gPlusPlaceId', 'rating', 'reviewText', 'reviewCount',
       'userCount', 'loc', 'cleaned_review', 'cleaned_summary',
       'cleaned_education', 'cleaned_address', 'cleaned_hours',
       'cleaned_categories', 'cleaned_jobs', 'sentiment_VADER'],
      dtype='object')

In [6]:
ratings_df=ratings_dfFull[['gPlusUserId','name','rating']]
ratings_df.columns = ['user_id','item_id','rating']
print(ratings_df.shape)
ratings_df[0:6]

(954, 3)

        user_id                          item_id  rating
0  1.002152e+20                         Tamarine     5.0
1  1.019804e+20                        BAR CRUDO     5.0
2  1.029165e+20                     Bar Agricole     5.0
3  1.060633e+20  Cat and Fiddle Pub & Restaurant     4.0
4  1.074869e+20                       Cafe Flore     4.0
5  1.038638e+20            Stout Burgers & Beers     5.0

In [19]:
def mapdata(ratings_df):
  ratings_df["item_id"] = ratings_df["item_id"].astype(str)
  ratings_df["user_id"] = ratings_df["user_id"].astype(str)
  ratings_df["rating"]  = ratings_df["rating"].values.astype(np.float32)
  user_ids = np.sort(ratings_df["user_id"].unique()).tolist()
  umap = {x: i for i, x in enumerate(user_ids)}
  item_ids = np.sort(ratings_df["item_id"].unique()).tolist()
  imap = {x: i for i, x in enumerate(item_ids)}
  ratings_df["user_id"] = ratings_df["user_id"].map(umap) # swap userid for user index
  ratings_df["item_id"] = ratings_df["item_id"].map(imap) # swap itemid for item index
  return ratings_df, umap, imap

In [20]:
# define function to convert the rating events into a (dense) ratings matrix
def makeRatingsMatrix(ratings_df):
  ratings_df, umap, imap = mapdata(ratings_df)
  ratmatrix = pd.pivot_table(ratings_df, index=['user_id'], columns=['item_id'], values=['rating'],aggfunc=[np.mean]).values
  return ratmatrix, umap, imap

In [21]:
# create the (dense) ratings matrix 
ratmatrix, umap, imap = makeRatingsMatrix(ratings_df)
print("user map=", umap)
print("item map=", imap)
print("mapped rating events=\n",ratings_df[0:5])  # to show that the ratings events have been mapped
print("ratings matrix=\n",ratmatrix)

user map= {'100027298100000000000': 0, '100064964300000000000': 1, '100071173100000000000': 2, '100149874600000000000': 3, '100167615300000000000': 4, '100187800700000000000': 5, '100188791600000000000': 6, '100191427200000000000': 7, '100195583100000000000': 8, '100203282600000000000': 9, '100215158900000000000': 10, '100219691400000000000': 11, '100226390700000000000': 12, '100247204500000000000': 13, '100330736800000000000': 14, '100334069800000000000': 15, '100343120700000000000': 16, '100365917800000000000': 17, '100392313900000000000': 18, '100399962200000000000': 19, '100433794300000000000': 20, '100445685400000000000': 21, '100452823500000000000': 22, '100462082800000000000': 23, '100462360000000000000': 24, '100487661000000000000': 25, '100496607900000000000': 26, '100508952600000000000': 27, '100516137400000000000': 28, '100516882800000000000': 29, '100555162400000000000': 30, '100587872100000000000': 31, '100641666600000000000': 32, '100643056300000000000': 33, '100646294100000000000': 34, '100659665700000000000': 35, '100662568300000000000': 36, '100685095400000000000': 37, '100717247000000000000': 38, '100780259400000000000': 39, '100782171200000000000': 40, '100792150800000000000': 41, '100792506900000000000': 42, '100809208700000000000': 43, '100831171700000000000': 44, '100850473700000000000': 45, '100870342600000000000': 46, '100885346200000000000': 47, '100937245200000000000': 48, '100961289000000000000': 49, '100982599100000000000': 50, '100991220400000000000': 51, '101033675200000000000': 52, '101038793100000000000': 53, '101047840900000000000': 54, '101069509200000000000': 55, '101111725100000000000': 56, '101114112700000000000': 57, '101120918300000000000': 58, '101204775400000000000': 59, '101217844500000000000': 60, '101230245000000000000': 61, '101230318100000000000': 62, '101270910800000000000': 63, '101292908500000000000': 64, '101325873200000000000': 65, '101337911900000000000': 66, '101345352400000000000': 67, '101372943500000000000': 68, '101385142800000000000': 69, '101388230600000000000': 70, '101392794300000000000': 71, '101397674200000000000': 72, '101405332100000000000': 73, '101457505700000000000': 74, '101467456800000000000': 75, '101470318000000000000': 76, '101511807200000000000': 77, '101556595000000000000': 78, '101566337500000000000': 79, '101590160300000000000': 80, '101640091200000000000': 81, '101654133400000000000': 82, '101657371000000000000': 83, '101686790400000000000': 84, '101697554800000000000': 85, '101721068100000000000': 86, '101730787400000000000': 87, '101778351100000000000': 88, '101789993400000000000': 89, '101826991800000000000': 90, '101840590100000000000': 91, '101842330800000000000': 92, '101848915800000000000': 93, '101857300900000000000': 94, '101874818600000000000': 95, '101876934000000000000': 96, '101889210100000000000': 97, '101899411600000000000': 98, '101953659300000000000': 99, '101958783300000000000': 100, '101980361100000000000': 101, '102001524600000000000': 102, '102027147700000000000': 103, '102041673500000000000': 104, '102052245500000000000': 105, '102055550100000000000': 106, '102108716600000000000': 107, '102139978400000000000': 108, '102152728500000000000': 109, '102172401900000000000': 110, '102199470600000000000': 111, '102201014700000000000': 112, '102217125700000000000': 113, '102220200000000000000': 114, '102223279800000000000': 115, '102233141400000000000': 116, '102262473700000000000': 117, '102297172400000000000': 118, '102307743900000000000': 119, '102346745200000000000': 120, '102358209400000000000': 121, '102372880600000000000': 122, '102381449500000000000': 123, '102397052100000000000': 124, '102401708600000000000': 125, '102404244100000000000': 126, '102412116000000000000': 127, '102418452400000000000': 128, '102440997800000000000': 129, '102451193300000000000': 130, '102506861700000000000': 131, '102509936900000000000': 132, '102512364700000000000': 133, '102525570600000000000': 134, '102550604900000000000': 135, '102564701200000000000': 136, '102589600600000000000': 137, '102591823900000000000': 138, '102595131100000000000': 139, '102604762500000000000': 140, '102611056200000000000': 141, '102640396700000000000': 142, '102643749900000000000': 143, '102648148700000000000': 144, '102657317000000000000': 145, '102708996700000000000': 146, '102722378700000000000': 147, '102776922700000000000': 148, '102808238100000000000': 149, '102840354700000000000': 150, '102870125400000000000': 151, '102870151200000000000': 152, '102886756600000000000': 153, '102887133400000000000': 154, '102916454000000000000': 155, '102923964100000000000': 156, '102924129300000000000': 157, '102929315100000000000': 158, '102943834000000000000': 159, '102991700200000000000': 160, '103028553600000000000': 161, '103051421700000000000': 162, '103106741400000000000': 163, '103110474600000000000': 164, '103113612100000000000': 165, '103133454300000000000': 166, '103138248400000000000': 167, '103143843100000000000': 168, '103152055300000000000': 169, '103163003200000000000': 170, '103172173900000000000': 171, '103181510000000000000': 172, '103191886800000000000': 173, '103192376400000000000': 174, '103293832200000000000': 175, '103324053600000000000': 176, '103382935600000000000': 177, '103411678100000000000': 178, '103427098800000000000': 179, '103455273300000000000': 180, '103469879400000000000': 181, '103541144700000000000': 182, '103566722300000000000': 183, '103568067000000000000': 184, '103570084000000000000': 185, '103572889700000000000': 186, '103609331500000000000': 187, '103713068500000000000': 188, '103742259900000000000': 189, '103766561300000000000': 190, '103783598000000000000': 191, '103833934300000000000': 192, '103842920000000000000': 193, '103847313500000000000': 194, '103863780300000000000': 195, '103943528700000000000': 196, '103946100700000000000': 197, '103954769900000000000': 198, '103964357600000000000': 199, '103972991300000000000': 200, '103973661700000000000': 201, '103978758600000000000': 202, '103980072100000000000': 203, '103980413100000000000': 204, '103993006000000000000': 205, '103994391400000000000': 206, '104021617000000000000': 207, '104038620300000000000': 208, '104046448100000000000': 209, '104051819800000000000': 210, '104070399400000000000': 211, '104134801100000000000': 212, '104157019100000000000': 213, '104184808800000000000': 214, '104218185000000000000': 215, '104238351400000000000': 216, '104261567600000000000': 217, '104276451600000000000': 218, '104313004500000000000': 219, '104320454300000000000': 220, '104320897600000000000': 221, '104383940000000000000': 222, '104386928500000000000': 223, '104409247300000000000': 224, '104428373200000000000': 225, '104433221700000000000': 226, '104435082600000000000': 227, '104445813500000000000': 228, '104458972500000000000': 229, '104496938900000000000': 230, '104512875600000000000': 231, '104524825900000000000': 232, '104532634400000000000': 233, '104577113800000000000': 234, '104584538000000000000': 235, '104603208100000000000': 236, '104605080300000000000': 237, '104608870800000000000': 238, '104614957500000000000': 239, '104638806800000000000': 240, '104667611800000000000': 241, '104687374200000000000': 242, '104692411900000000000': 243, '104727718400000000000': 244, '104730969300000000000': 245, '104743513900000000000': 246, '104752227700000000000': 247, '104755696700000000000': 248, '104769499700000000000': 249, '104769515600000000000': 250, '104781821700000000000': 251, '104782160000000000000': 252, '104782956400000000000': 253, '104783466100000000000': 254, '104822148400000000000': 255, '104824858300000000000': 256, '104839411100000000000': 257, '104847770300000000000': 258, '104871113700000000000': 259, '104891740900000000000': 260, '104897811000000000000': 261, '104913278000000000000': 262, '104953315300000000000': 263, '104959258300000000000': 264, '104973641000000000000': 265, '104978311100000000000': 266, '105006528900000000000': 267, '105033004100000000000': 268, '105074687500000000000': 269, '105081212900000000000': 270, '105097133300000000000': 271, '105110373300000000000': 272, '105110541600000000000': 273, '105117156200000000000': 274, '105138557000000000000': 275, '105141765300000000000': 276, '105143448900000000000': 277, '105154740700000000000': 278, '105157963100000000000': 279, '105162996400000000000': 280, '105175245800000000000': 281, '105180507400000000000': 282, '105191467700000000000': 283, '105205824000000000000': 284, '105214960300000000000': 285, '105238423900000000000': 286, '105275328400000000000': 287, '105282549900000000000': 288, '105284790600000000000': 289, '105296483300000000000': 290, '105308333300000000000': 291, '105310276800000000000': 292, '105319040000000000000': 293, '105325221400000000000': 294, '105328205700000000000': 295, '105358061700000000000': 296, '105384186700000000000': 297, '105396142900000000000': 298, '105419756300000000000': 299, '105421715300000000000': 300, '105458266300000000000': 301, '105471833300000000000': 302, '105500168600000000000': 303, '105526132800000000000': 304, '105557205300000000000': 305, '105613760900000000000': 306, '105615791900000000000': 307, '105650583600000000000': 308, '105669222900000000000': 309, '105680139500000000000': 310, '105688708600000000000': 311, '105695109400000000000': 312, '105719661200000000000': 313, '105731714800000000000': 314, '105742414300000000000': 315, '105745483600000000000': 316, '105767617900000000000': 317, '105782159800000000000': 318, '105800777200000000000': 319, '105818494000000000000': 320, '105854727800000000000': 321, '105859985400000000000': 322, '105860886300000000000': 323, '105867115200000000000': 324, '105875052300000000000': 325, '105899251100000000000': 326, '105900689100000000000': 327, '105914881800000000000': 328, '105929453700000000000': 329, '105994804000000000000': 330, '105997056500000000000': 331, '106011016100000000000': 332, '106025902600000000000': 333, '106041170600000000000': 334, '106046930700000000000': 335, '106063290300000000000': 336, '106070822400000000000': 337, '106158770300000000000': 338, '106166578200000000000': 339, '106170335100000000000': 340, '106177315700000000000': 341, '106191275400000000000': 342, '106226941400000000000': 343, '106227312100000000000': 344, '106244748100000000000': 345, '106264645500000000000': 346, '106302393600000000000': 347, '106322012100000000000': 348, '106325721500000000000': 349, '106328251400000000000': 350, '106337995000000000000': 351, '106341135400000000000': 352, '106386984500000000000': 353, '106400201300000000000': 354, '106436594800000000000': 355, '106484092400000000000': 356, '106491832700000000000': 357, '106528104000000000000': 358, '106554684900000000000': 359, '106567556200000000000': 360, '106574196100000000000': 361, '106597071200000000000': 362, '106598818700000000000': 363, '106617184400000000000': 364, '106629634200000000000': 365, '106646613400000000000': 366, '106655936700000000000': 367, '106813228500000000000': 368, '106837158500000000000': 369, '106840555300000000000': 370, '106862562700000000000': 371, '106874730200000000000': 372, '106881502600000000000': 373, '106889466600000000000': 374, '106912957400000000000': 375, '106916039300000000000': 376, '106919440800000000000': 377, '106948676900000000000': 378, '106989243900000000000': 379, '106996389900000000000': 380, '107004591400000000000': 381, '107011012300000000000': 382, '107026300000000000000': 383, '107034709300000000000': 384, '107044550200000000000': 385, '107056166300000000000': 386, '107062560800000000000': 387, '107073829200000000000': 388, '107082016400000000000': 389, '107126827500000000000': 390, '107131333600000000000': 391, '107183736100000000000': 392, '107208289000000000000': 393, '107223678800000000000': 394, '107226127500000000000': 395, '107234033900000000000': 396, '107276867600000000000': 397, '107326872100000000000': 398, '107330078200000000000': 399, '107340853200000000000': 400, '107355384800000000000': 401, '107383564400000000000': 402, '107390654700000000000': 403, '107460554700000000000': 404, '107486901600000000000': 405, '107515221600000000000': 406, '107531882900000000000': 407, '107538920700000000000': 408, '107567243500000000000': 409, '107581178600000000000': 410, '107586096700000000000': 411, '107590607800000000000': 412, '107614643000000000000': 413, '107634955900000000000': 414, '107642725000000000000': 415, '107649382300000000000': 416, '107680770200000000000': 417, '107692339800000000000': 418, '107697776000000000000': 419, '107719675500000000000': 420, '107730086500000000000': 421, '107744672000000000000': 422, '107761687600000000000': 423, '107783733200000000000': 424, '107788472000000000000': 425, '107808770100000000000': 426, '107819232000000000000': 427, '107894561400000000000': 428, '107950851100000000000': 429, '107968783500000000000': 430, '107983162300000000000': 431, '107984223900000000000': 432, '107985200200000000000': 433, '108002219000000000000': 434, '108045202400000000000': 435, '108045606800000000000': 436, '108049943800000000000': 437, '108053831000000000000': 438, '108057855400000000000': 439, '108078499400000000000': 440, '108086881800000000000': 441, '108116085100000000000': 442, '108131442300000000000': 443, '108139646600000000000': 444, '108147330000000000000': 445, '108189587100000000000': 446, '108191488800000000000': 447, '108254158100000000000': 448, '108257013700000000000': 449, '108316757300000000000': 450, '108352616000000000000': 451, '108357182000000000000': 452, '108385645200000000000': 453, '108407842800000000000': 454, '108426857500000000000': 455, '108437324200000000000': 456, '108441015000000000000': 457, '108461032200000000000': 458, '108475160300000000000': 459, '108498120600000000000': 460, '108513310000000000000': 461, '108531925800000000000': 462, '108560298300000000000': 463, '108562385200000000000': 464, '108587007900000000000': 465, '108622407900000000000': 466, '108622603800000000000': 467, '108662999300000000000': 468, '108668472700000000000': 469, '108694525500000000000': 470, '108696907100000000000': 471, '108713714500000000000': 472, '108752120500000000000': 473, '108752204200000000000': 474, '108760969500000000000': 475, '108790350200000000000': 476, '108855015900000000000': 477, '108864918100000000000': 478, '108867247000000000000': 479, '108877151400000000000': 480, '108895000600000000000': 481, '108901465200000000000': 482, '108910052400000000000': 483, '108915330000000000000': 484, '108919458000000000000': 485, '108959604200000000000': 486, '108974765500000000000': 487, '108992430200000000000': 488, '109060830200000000000': 489, '109140140500000000000': 490, '109154808600000000000': 491, '109171245700000000000': 492, '109190959300000000000': 493, '109202477400000000000': 494, '109203375000000000000': 495, '109268929200000000000': 496, '109296361300000000000': 497, '109308611400000000000': 498, '109325700400000000000': 499, '109388463000000000000': 500, '109404965800000000000': 501, '109409674000000000000': 502, '109435338700000000000': 503, '109498998600000000000': 504, '109503337300000000000': 505, '109521584600000000000': 506, '109526425100000000000': 507, '109555152100000000000': 508, '109555225200000000000': 509, '109557615800000000000': 510, '109579582400000000000': 511, '109581870600000000000': 512, '109582783700000000000': 513, '109607974500000000000': 514, '109631747800000000000': 515, '109632549000000000000': 516, '109660691500000000000': 517, '109670946000000000000': 518, '109673108800000000000': 519, '109673904100000000000': 520, '109682955500000000000': 521, '109726872900000000000': 522, '109769424200000000000': 523, '109779662500000000000': 524, '109785255200000000000': 525, '109810542500000000000': 526, '109811190000000000000': 527, '109816108000000000000': 528, '109828164700000000000': 529, '109828885200000000000': 530, '109856116900000000000': 531, '109883186400000000000': 532, '109884095400000000000': 533, '109905337300000000000': 534, '109924887200000000000': 535, '109943913400000000000': 536, '109951755400000000000': 537, '109976445300000000000': 538, '110009487800000000000': 539, '110013031200000000000': 540, '110048636800000000000': 541, '110049836800000000000': 542, '110101697100000000000': 543, '110122617100000000000': 544, '110126723700000000000': 545, '110171932200000000000': 546, '110186693900000000000': 547, '110214824100000000000': 548, '110223729400000000000': 549, '110229483500000000000': 550, '110236598100000000000': 551, '110282169500000000000': 552, '110331750700000000000': 553, '110335337300000000000': 554, '110342665300000000000': 555, '110355690900000000000': 556, '110361422600000000000': 557, '110392177100000000000': 558, '110418175900000000000': 559, '110448983400000000000': 560, '110455521000000000000': 561, '110464580500000000000': 562, '110472134200000000000': 563, '110492492600000000000': 564, '110500864700000000000': 565, '110513218500000000000': 566, '110523083400000000000': 567, '110539176100000000000': 568, '110565677000000000000': 569, '110593201200000000000': 570, '110619177500000000000': 571, '110655580500000000000': 572, '110684973300000000000': 573, '110690548200000000000': 574, '110702744800000000000': 575, '110755156000000000000': 576, '110768591900000000000': 577, '110774924300000000000': 578, '110789120800000000000': 579, '110790165100000000000': 580, '110794698700000000000': 581, '110808006500000000000': 582, '110808030700000000000': 583, '110824555100000000000': 584, '110842080500000000000': 585, '110868656200000000000': 586, '110869468100000000000': 587, '110883126100000000000': 588, '110932612000000000000': 589, '110995070600000000000': 590, '111015033600000000000': 591, '111058509500000000000': 592, '111068313600000000000': 593, '111070507600000000000': 594, '111076080500000000000': 595, '111082988000000000000': 596, '111086436300000000000': 597, '111090532600000000000': 598, '111106401900000000000': 599, '111111712800000000000': 600, '111115200900000000000': 601, '111150603400000000000': 602, '111163784700000000000': 603, '111164095900000000000': 604, '111169964000000000000': 605, '111170202100000000000': 606, '111185660800000000000': 607, '111215836300000000000': 608, '111231098700000000000': 609, '111260175400000000000': 610, '111270344400000000000': 611, '111287418100000000000': 612, '111300584900000000000': 613, '111303597400000000000': 614, '111314686600000000000': 615, '111321913000000000000': 616, '111339498400000000000': 617, '111350605100000000000': 618, '111353338800000000000': 619, '111355082200000000000': 620, '111359721700000000000': 621, '111360862100000000000': 622, '111383592500000000000': 623, '111394043000000000000': 624, '111401898000000000000': 625, '111406925800000000000': 626, '111416525900000000000': 627, '111420034200000000000': 628, '111470576500000000000': 629, '111537116200000000000': 630, '111572534200000000000': 631, '111604275100000000000': 632, '111616851600000000000': 633, '111628639900000000000': 634, '111653609700000000000': 635, '111661289700000000000': 636, '111670915000000000000': 637, '111674584100000000000': 638, '111680537000000000000': 639, '111697246500000000000': 640, '111735597200000000000': 641, '111745482200000000000': 642, '111776171900000000000': 643, '111793546900000000000': 644, '111798264700000000000': 645, '111822018000000000000': 646, '111837307100000000000': 647, '111843201300000000000': 648, '111874377200000000000': 649, '111914911700000000000': 650, '111921664200000000000': 651, '111937447800000000000': 652, '111960794900000000000': 653, '111964795200000000000': 654, '111965032200000000000': 655, '111980636600000000000': 656, '112003488500000000000': 657, '112044748200000000000': 658, '112073365100000000000': 659, '112078035600000000000': 660, '112086572800000000000': 661, '112089384700000000000': 662, '112093032200000000000': 663, '112105634800000000000': 664, '112105839600000000000': 665, '112149949800000000000': 666, '112174039800000000000': 667, '112174924600000000000': 668, '112216021900000000000': 669,

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [27]:
# select a specific user and get their ratings
targetname = "100215158900000000000"
targetrats = ratmatrix[umap[targetname],] 
targetrats

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        5., nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan], dtype=float32)

In [7]:
# Find the number users with different reviews
numberCountUser=ratings_df.groupby(["user_id"])["user_id"].count().rename('count')
countDf=ratings_df[["user_id"]]
countDf["count"]=numberCountUser

#numberCountUser.columns=["UserId","Count"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
countDf=pd.DataFrame(numberCountUser)

In [9]:
countDf.sort_values(by='count',ascending=False)

              count
user_id
1.104490e+20      7
1.088672e+20      7
1.138995e+20      6
1.111152e+20      6
1.096830e+20      6
...             ...
1.052848e+20      1
1.052965e+20      1
1.053083e+20      1
1.053103e+20      1
1.146634e+20      1

[811 rows x 1 columns]

In [10]:
countDf[countDf["count"]>1].count()

count    94
dtype: int64